* {
    text-decoration: none !important;
}
/* section-profile-choice-role*/

.bg-light {
    box-shadow: 1px 2px 6px;
}

.btn-main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d6efd;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
}

.btn-main:hover{
    color: #fff;
}

.profile-choice-role-title{
    text-align: center;
}

.section-profile-choice-role{
    display: flex;
}

.profile-choice-role-block{
    width: 100%;
    padding: 20px;
    border: solid 1px #000;
}

.profile-choice-role-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    height: 100%;
}

.profile-choice-role-current-session{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice-role-current-session-img{
    position: absolute;
    left: -40px;
    width: 30px;
}

.profile-choice-role-content .btn-main{
    width: 170px;
    margin-top: 20px;
    margin: 30px auto 0;
}

.profile-choice-role-title-session{
    font-size: 18px;
}

.profile-choice-role-title-session{
    position: relative;
}

.wrapper-profile-choice-role-session.completed {
    margin-top: 20px;
}

/* section-profile-choice-role */


/* formCreateSession */
.container-create-session{
    margin-top: 30px;
}

.formCreateSession{
    background-color: #ebf3f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 6px;
}

.formCreateSession-title{
    text-align: center;
}

.wrapper-content-form-data{
    max-width: 360px;
    margin: 40px auto 0;
}

.wrapper-pick-time .pick-time,
.wrapper-dateTime-session .pick-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-pick-time .pick-time:not(:first-child){
    margin-top: 10px;
}

.wrapper-pick-time .pick-time label,
.wrapper-dateTime-session .pick-date label{
    width: 120px;
    margin-right: 10px;
}

.payment-method-title{
    font-size: 22px;
}

.wrapper-pick-time, .payment-method{
    margin-top: 20px;
}

.btn-main.make-session {
    margin: 20px auto 0;
}

.pick-time-input,
.pick-date-input {
    max-width: 200px;
    width: 100%;
    padding: 3px 6px;
}
/* formCreateSession */

.container-profile {
    margin-top: 30px;
}