<section class="section-profile-choice-role">
    <div class="profile-choice-role-block coach">
        <div class="profile-choice-role-content">
            <h2 class="profile-choice-role-title">Coach</h2>
            <div class="wrapper-profile-choice-role-session">
                <h3 class="profile-choice-role-title-session">Your <b>maked</b> sessions:</h3>
                <div class="profile-choice-role-current-session">
                    <span class="choice-role-current-session-date">28/04/2021 14:00</span>

                    <div class="choice-role-edit-img">
                        <a class="choice-role-current-session-edit" href=""></a>
                        <img class="choice-role-current-session-img" src="/img/delete-session.png" alt="">
                    </div>
                </div>
            </div>
            <a href="/user/createSession" class="btn-main create-session">Create session</a>
        </div>
    </div>

    <div class="profile-choice-role-block client">
        <div class="profile-choice-role-content">
            <h2 class="profile-choice-role-title">Client</h2>
            <div class="wrapper-profile-choice-role-session upcoming">
                <h3 class="profile-choice-role-title-session">
                    <img class="choice-role-current-session-img" src="/img/calendar-session.jpg" alt="">
                    Your <b>Client</b> sessions:
                </h3>
                <div class="profile-choice-role-current-session">
                    <a href="" class="choice-role-current-session-client">
                        28/09/2021 12:00 Petr Petrov
                    </a>
                </div>
            </div>

            <div class="wrapper-profile-choice-role-session completed">
                <h3 class="profile-choice-role-title-session">
                    <img class="choice-role-current-session-img" src="/img/question-icon.png" alt="">
                    Rate pls <b>completed</b> sessions:
                </h3>
                <div class="profile-choice-role-current-session">
                    <div class="choice-role-current-session-client">
                        <span class="">28/09/2021 12:00 Petr Petrov</span>
                        <div class="rating"></div>
                    </div>
                </div>
            </div>
            <a href="" class="btn-main choose-session">Choose session</a>
        </div>
    </div>
</section>